@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}

html{
     font-size: 10px;
     font-family: "Monserrat", sans-serif ;
}

a{
    text-decoration: none;
}

.contain{
      min-height: 100vh;
      justify-content: center;
      align-items: center;
      width: 100%;
      display: flex;
}


/*---------------------Hero Section*/



#hero{
    background :url(../image/IMG.jpg) ;
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#hero::after{
      content: "";
       position: absolute;
       left: 0;
       top: 0;
       height: 100%;
       width: 100%;
       background-color: black;
       opacity: 0.7;
       z-index: -1;
}

#hero .hero{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start
}

#hero h1{
      display: block;
      width: fit-content;
      font-size: 4rem;
      position: relative;
      color: transparent;
      animation: text_reveal .5s ease forwards;
      animation-delay: 1.5s;
      

}
#hero h1:nth-child(1){
    animation-delay: .5s;
}
#hero h1:nth-child(2){
    animation-delay: 1.5s;
}
#hero h1:nth-child(3){
    animation-delay: 2.5s;
}

#hero h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: crimson;
    animation: text_reveal_box 1s ease;
    animation-delay: .3s;
}

#hero h1:nth-child(1) span{
    animation-delay: 1s
}
#hero h1:nth-child(2) span{
    animation-delay: 2s
}
#hero h1:nth-child(3) span{
    animation-delay: 3s
}

#hero .CTA{
    display: inline-block;
    padding: 10px 30px;
    color: #edf5e1;
    background-color: transparent;
    border: 2px solid #edf5e1;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .5s ease ;
   
}

#hero .CTA:hover{
      color: #5cdb95;
      background-color: #05386b;
}

/*---------------------Hero Section End*/

/*---------------------KeyFrames Section*/
 

  @keyframes text_reveal{
          100%{
              color: white;
          }

  }
/*---------------------KeyFrames Section END*/


/*---------------------nav section*/
.navibars{
     margin: 0;
    
     
}

section {
     background-color: #110323;
     padding-top: 45px;
     padding-bottom: 45px;
}

section div{
      height: 80px;
}

section div ul li a{
       margin: 100px;
       color: #edf5e1;
       
}

.back-color-about{
       background-color: #05386b;
       display: inline-block;
       font-size: 30px;
       margin-top: 10px;
       height: 50px;
       width: 24%;
       text-align: center;
       margin-left: 30px;
}

.back-color-work{
       background-color: #5cdb95;
       display: inline-block;
       font-size: 30px;
       margin-top: 10px;
       height: 50px;
       width: 24%;
       text-align: center;
       
}

.back-color-contact{
       background-color: #379683;
       display: inline-block;
       font-size: 30px;
       margin-top: 10px;
       height: 50px;
       width: 24%;
       text-align: center;
       
}

.back-color-download{
       background-color: #8ee4af;
       display: inline-block;
       font-size: 30px;
       margin-top: 10px;
       height: 50px;
       width: 24%;
       text-align: center;
      
}

.back-color-about:hover {
       background-color: #edf5e1;
       }
.back-color-about:hover a{
       color: #05386b;
       }

.back-color-work:hover {
       background-color: #edf5e1;
       }
.back-color-work:hover a{
       color: #05386b;
       }

.back-color-contact:hover {
       background-color: #edf5e1;
       }
.back-color-contact:hover a{
       color: #05386b;
       }

.back-color-download:hover {
       background-color: #edf5e1;
       }
.back-color-download:hover a{
       color: #05386b;
       }


section select{
    display: none;
}

@media (max-width: 1300px){
    
    #navibars {display: none;}

}





section select{
     color: #05386b;
     background-color: #5cdb95; 
     appearance: none;
     height: 50px;
     width: 100px;
     left: 50px;
     margin: 0 auto;
     display: block;
     text-align: center;
}

section:hover select{
    background-color: #05386b;
    color: #5cdb95
}

/*---------------------nav section end*/



/*---------------------about me section*/

#meabout{
margin: 0;
padding-left: 11%;
background-color: #110323;
color: white;
border-top: 2px solid #8fd6fa;
border-bottom: 2px solid #8fd6fa;
padding-top: 75px;
padding-bottom: 75px;
}

.meabout2{
    font-size: 30px;
}

.heading1{
     color: #fff
}

.heading2{
    
    color: rgb(0, 246, 164);
    font-size: 75px;
}

.id1 {
    color: #8fd6fa
}

.name1{
    color: #258454;
    text-transform: uppercase;
}

.name{
    color: #fa5300;

}

.dob1{
    color: #258454;
}

.dob{
    color: #fa5300;
}

.id2 {
    color: #8fd6fa;
}

.work{
     color: #258454;
}

.workexp{
     color: #fa5300;
}

.id3 {
    color: #8fd6fa;
}

.date1{color: #258454;}

.work1{ color: #fa5300;}

.loc1{color: #b00000}

.title1{color: #fffb00}

.role1{color:#8fd6fa; }

.id4 {
    color: #8fd6fa
}
.date2{color: #258454;}

.work2{ color: #fa5300;}

.loc2{color: #b00000}

.title2{color: #fffb00}

.role2{color:#8fd6fa; }

.id5 {
    color: #8fd6fa
}

.date3{color: #258454;}

.work3{ color: #fa5300;}

.loc3{color: #b00000}

.title3{color: #fffb00}

.role3{color:#8fd6fa; }
/*---------------------about me section end*/



/*---------------------------my work section*/
#mywork1{
    padding: 0;
    margin: 0;
    background-color: #110323;
    border-bottom: 2px solid #8fd6fa;
    padding-top: 85px;
padding-bottom: 75px;

}

.mywork{
     font-size: 75px;
     color: rgb(0, 246, 164);
     padding-left: 20px;
 

}

.project1{
   height: 600px;
   width: 100%;
   color: #258454;
   font-size: 45px;
   text-align: center;
}

.image1{
     height: 500px;
     width: 400px;
}

.project2{
   height: 600px;
   width: 100%;
   color: #258454;
   font-size: 45px;
   text-align: center;
}

.image2{
     height: 400px;
     width: 500px;
}

.image1:hover{
    background-color: black;
    opacity: 15%;
}

.image2:hover{
    background-color: black;
    opacity: 15%;
}

/*---------------------------my work section end */


/*---------------------------Contact Me */
#contactme{
     margin: 0;
     
     background-color: #110323;

       
    
}

.contme{
    font-size: 75px;
     color: #8ee4af;
     padding-left: 20px;
     padding-top: 80px;
    
}

.email{
    font-size: 45px;
    padding-left: 20px;
    padding-top: 40px;
    color: #5cdb95;
    height: 100px;
}
.linkin{
    font-size: 45px;
    padding-left: 20px;
    padding-top: 40px;
    color: #5cdb95;
    height: 100px;
}
.fb{
    font-size: 45px;
    padding-left: 20px;
    padding-top: 40px;
    color: #5cdb95;
    height: 100px;
    border-bottom: 2px solid #8fd6fa;
    
}


.fa-envelope-open:hover{
    background-color: black;
    opacity: 15%;
}
.fa-linkedin:hover{
    background-color: black;
    opacity: 15%;
}

.fa-facebook:hover{
    background-color: black;
    opacity: 15%;}
/*---------------------------Contact Me END  */


/*---------------------------footer  */
#footer{
    height: 300px;
    background-color: #110323;
    padding-bottom: 75px;
     padding-top: 75px;
}

.cvdown{
    font-size: 45px;
    padding-left: 20px;
    padding-top: 40px;
    color: #5cdb95;
    height: 100px;
    text-align: center;
}

.end{
    color: #258454;
    font-size: 20px;
    padding-top: 10px;
    text-align: center;
}

/*---------------------------footer  END  */


